# Python
__pycache__/
*.egg-info
*.py[cod]
*$py.class
build/
dist/
wheels/
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
ENV/
.venv

# Environment variables
.env

# Temporary files
temp/
bin/

# Sources
*.jpg
*.webp
*.png
!pipeline_*.png

# Database
*.db
*.sqlite
data/

